/* header section */
@media only screen and (max-width: 800px){
#partical.js{
  display: none;
}
}
@media only screen and (max-width: 600px) {
  .container{
    padding-left: 24px
  } ;
   .herosec {
      padding:0px 24px;
    }
       .heroctn {
            padding-left: 24px !important;
      padding-top: 24px;
    }

  
 .w-50{
 width: 100% !important;
  }
 
  .card img{
    width: 20%;
    margin-top: 24px;
  }
  .card-body{
    text-align: center;
   
  }
   .process-head .card-body img{
      margin: 16px;
    }
  .card{
    height: initial;
  }
  .process-head{
    justify-content: center;
    margin-top: 16px;
  }
  .aboutctn{
    margin-top: 16px;
  }
  .why_choose_img{
    padding: 24px;}
.contact h2 strong{
  font-size: 32px;
}
.contact h4{
  font-size: 28px;
}
    .appointment h5{
      margin-top: 24px;
    }
    .appointment h3{
      padding-top: 10px;
    }
    .row.mb-3{
      gap: 16px;
        }
  }